body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to top, #e49b7a 0%, #d0d9e3 100%);
}

h1 {
    text-align: center;
    font-weight: 300;
    color: #fff;
    margin-top: 40px;
}

h5 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
    text-align: center;
}

p {
    color: #515151;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.space {
    height: 25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.card-body {
    text-align: center;
    background-color: none;
}

.card-title {
    margin-bottom: 2rem;
    color: #515151;
}

.card {
    border-style: none;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.40);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
    width: 45rem;
}

.answer {
    outline: 1.5px solid #ffffffbe;
    border-radius: 50px;
    color: #515151;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
}

.answer:hover {
    background-color: #ffffff40;
}

.right-answer {
    border-radius: 50px;
    background-color: #ff9939 !important;
    outline: 1.5px solid #ff9939;
    color: #fff;
    transition: all 0.2s;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrong-answer {
    border-radius: 50px;
    background-color: #fff !important;
    outline: 1.5px solid #fff;
    color: #515151;
    transition: all 0.2s;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-bar {
    background-color: #ffffff50;
}

.progress {
    border: none;
    border-radius: 50px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 24px;
    margin-bottom: 40px;
}

.progress-bar {
    border: none;
    border-radius: 50px;
    background: #ebb9a1;
    color: #fff;
}

.btn-custom {
    background-color: #ff9939;
    color: #fff;
    font-weight: 300;
    border: none;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 38px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
}

.btn-custom:hover {
    background-color: #f89234;
    color: #fff;
}

.text-line {
    margin-left: 80px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin: 0;
}

.quiz-completed {
    display: block;
    margin: 0 auto 30px auto;
}

.new-btn-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px auto;
    background-color: #ff9939;
    color: #fff;
    font-weight: 300;
    border: none;
    border-radius: 50px;
    width: 160px;
    height: 38px;
    transition: all 0.2s;
}

.new-btn-custom:hover {
    background-color: #f89234;
    color: #fff;
}